@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgba(122, 157, 150, 0.3);
    /*aliceblue url("../images/images23.jpeg") repeat;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background: #f7f5f6;*/
}

header {
    background: url("../images/transparent.jpg");
    opacity: 1.0;
    /*border-bottom: 40px solid aliceblue;
    background: rgb(122, 157, 150);*/
    background-size: cover;
    max-width: 100%;
    z-index: 1;
}

h1 {
    color: white;
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    padding: 2%;
}

h2 {
    color: white;
    font-size: 28px;
    text-shadow: 0px 0px 500px #000;
    float: left;
    margin-left: 5%;
}

.titlespan {
    font-family: 'Jim Nightshade', cursive;
}

.box {
    /* position: relative;
    background: #edeff0;
    background: rgb(210, 233, 249);*/
    max-width: 100%;
    padding: 3%;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
}

.dog-ear:before,
.dog-ear:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    position: absolute;
}

.dog-ear:after {
    border-top: 65px solid transparent;
    border-left: 65px solid aliceblue;
}

.linkedIna {
    font-family: 'proxima-nova', sans-serif;
    /*color: rgba(0, 0, 0, 0.5);*/
    color: whitesmoke;
    margin: auto;
    padding: 5px;
}

.linkedIna:hover {
    color: darkblue;
}

.resumespan {
    font-family: 'proxima-nova', sans-serif;
    color: white;
    font-size: 28px;
    float: right;
    margin-right: 10%;
}

.listskills {
    max-width: 100%;
    font-family: 'proxima-nova', sans-serif;
}

.listskills .skillset-wrapper {
    width: 80%;
    display: block;
    margin: 1rem auto;
}

.listskills .skillset-wrapper .skillset {
    display: inline-block;
    font-family: 'proxima-nova', sans-serif;
    width: 30%;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    line-height: 40px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.listskills .skillset-wrapper .skillset i {
    width: 100%;
    display: block;
    font-size: 250%;
}

.listskills .skillset-wrapper .skillset span {
    font-size: 80%;
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.5);
}

h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 28px;
    padding: 1rem;
}

table,
th,
td {
    color: #00303F;
    margin-left: 30%;
    line-height: 40px;
    margin-right: 15px;
}

td {
    font-size: 16px;
}


/*  background-size: cover;
width: 100%;
height: 30%;*/


/*.firstsection {
margin-top: 100px;
background: #f7f5f6;
width: 100%;
height: 30%;
background-size: cover;
}*/

.firstsection {
    width: 100%;
    height: 100%;
}

.aboutme {
    width: 80%;
    margin: 30px auto;
    font-family: sans-serif;
}

.aboutme-inner {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.midsection {
    background: #f7f5f6;
    width: 100%;
    background-size: cover;
}

.flexdesign {
    width: 80%;
    margin: 30px auto;
    font-family: sans-serif;
}

.flexresp {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    flex-wrap: wrap;
}

.aflex {
    display: inline-block;
    margin-bottom: 8px;
    /* width: calc(50 - 4px);*/
    margin: 0 auto;
    margin-right: 40px auto;
    margin-left: 40px auto;
    text-decoration: none;
    color: black;
}

.aflex:nth-of-type(2n) {
    margin-right: 0;
}

img {
    border: none;
    /* max-width: 100%;*/
    width: 270px;
    height: 250px;
    padding: 20px;
    display: block;
    background: #ccc;
    /*transition: transform .2s ease-in-out;*/
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.aflex:hover img {
    /* transform: scale(1.15);*/
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}

figure {
    margin: 0;
    overflow: hidden;
    width: 100%;
    padding: 5%;
    height: 100%;
    position: relative;
}

figcaption {
    /* margin-top: 15px;*/
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    width: 300px;
    height: 300px;
    position: absolute;
    text-align: center;
    right: 0;
    top: -20px;
    z-index: 100;
    margin: 0 auto;
    vertical-align: middle;
}

figcaption p {
    display: table-cell;
    font-size: 14px;
    top: -20px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 20px auto;
    margin-right: 20px auto;
    padding: 15%;
    text-align: center;
}

.aflex:hover figcaption {
    opacity: 1;
}


/*#viewDemo {
width: 100%;
height: 40px;
font-size: 14px;
background: #f7f5f6;
border: 1px solid white;
font-family: 'proxima-nova', sans-serif;
}*/

figcaption #viewDemo {
    display: block;
    width: 100px;
    height: 35px;
    vertical-align: middle;
    font-family: 'proxima-nova', sans-serif;
    font-size: 13px;
    color: white;
    border: 1px solid white;
    text-align: center;
    margin-left: 25%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: 50em) {
    .aflex {
        width: calc(25% - 6px);
    }
    .aflex:nth-of-type(2n) {
        margin-right: 8px;
    }
    .aflex:nth-of-type(4n) {
        margin-right: 0;
    }
}
